@import url(reset.css);
@import url(Styles/home.css);
@import url(Styles/shows.css);
@import url(Styles/contato.css);
@import url(Styles/cabecalho.css);
@import url(Styles/rodape.css);

body{
    background-color: var(--cor-de-fundo);
}

:root {
    --amarelo-principal: #ffc107;
    --preto:#343A40;
    --cor-de-fundo: #4D4F50;
    --branco: #FFFFFF;
    --destaque-tabela: #17a2b8;
}
